<%= form_tag("/domains", method: "post") do %>
<div class="form-group">
    <%= label_tag(:domain_list, "Add a list of domains") %>
    <%= text_area_tag(:domain_list, nil, { rows: 10, class: 'form-control'}) %>
  </div>
  <%= submit_tag("Save", { class: 'btn btn-success'}) %>
  <%= link_to domains_path do %>
    <button class="btn btn-light">Back</button>
  <% end %>
<% end %>
